<footer>
    <div>
        <div>
            <p class="vcard">
                <span class="fn org">Spectacle Labs Ltd.,</span>
                <span class="adr">
                    <span class="street-address">LCB Depot, 31 Rutland St.</span>
                    <span class="locality">Leicester</span>, <span class="postal-code">LE1 1RE</span>
                </span>
                <br />
                <span class="note">
                    Company No. 8330150
                </span>
            </p>

            <div>
                <nav class="horizontal">
                    <ul>
                        <li>
                            <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB" class="image">
                                <img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.0/uk/80x15.png" />
                            </a>
                        </li>
                        <li>
                            <a href="/terms-of-use">Terms of Use</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/cookies">How We Use Cookies</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div>
            <a href="http://www.bankoftmc.com">
                <img src="{{ site.media }}/images/bank_of_tmc.png" class="left-float" alt="Bank of TMC">
            </a>
            Supported by  <a href="http://www.bankoftmc.com">The Bank of TMC</a>
        </div>
            

        <div>
            <h4>
                <label for="mce-EMAIL">
                    Join our mailing list
                </label>
            </h4>
            <div id="mc_embed_signup">
                <!-- Begin MailChimp Signup Form -->
                <form class="inline validate" action="http://spectaclelabs.us5.list-manage.com/subscribe/post?u=d0f56dc9b0993535675b7f7bb&amp;id=e05fe7207a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Join</button>
                    <div>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

